* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 100vw;
}

body {
  background-image: url("./dog-bone-background.jpg");
  background-attachment: fixed;
}

.bold {
  font-weight: 600;
}

.alt {
  margin-top: 1em;
  font-size: 2rem;
}

.loading {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

.form-error {
  color: red;
}

h2 {
  padding: 0.5em 0;
  font-size: 2em;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
nav a {
  color: white;
}

.button {
  font: bold 1em Arial;
  background-color: #eeeeee;
  color: #333333;
  min-width: 100px;
  padding: 4px 6px;
  margin-top: 5px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 2px;
}

.button:hover {
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}

.not-delete-button:hover {
  background-color: #b3b2b2;
  color: #0e0d0d;
  border-top: 1px solid #959595;
  border-right: 1px solid #1a1919;
  border-bottom: 1px solid #1a1919;
  border-left: 1px solid #959595;
}

.submit:hover {
  background-color: rgb(13, 104, 13);
  border-top: 1px solid #959595;
  border-right: 1px solid #1a1919;
  border-bottom: 1px solid #1a1919;
  border-left: 1px solid #959595;
}

.delete:hover {
  background-color: rgb(251, 48, 48);
  color: #000000;
  border-top: 1px solid #666666;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #666666;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(86, 97, 107);
  color: beige;
}
.players .player-heading {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-size: 1.25em;
}
.players .player-card {
  width: 360px;
  height: 420px;
  margin: 10px;
  overflow: hidden;
  background-image: linear-gradient(45deg, #000000, transparent);
  border: 5px groove rgb(33, 32, 32);
  white-space: nowrap;
  position: relative;
  transition: transform 0.3s;
}
.players .player-card:hover {
  cursor: pointer;
  white-space: normal;
  transform: translateY(-5px) scale(1.01);
}
.players .player-card:hover h2,
.players .player-card:hover p {
  width: 300px;
}
.players .player-image-container {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.players img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.players .player-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
  text-align: center;
}
.players .player-details h2,
.players .player-details p {
  padding: 1px;
  overflow: hidden;
  cursor: pointer;
  width: 260px;
}
.players .player-details h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.single-player {
  height: 100vh;
  width: 100%;
  margin-top: 2em;
}
.single-player .single-player-card {
  max-width: 600px;
  margin: 0 auto;
  background-image: linear-gradient(45deg, #000000, transparent);
  background-color: rgb(45, 44, 44);
  box-shadow: 0 0 10px 5px rgb(40, 39, 39);
  color: beige;
  border-top: 2px solid #333333;
  border-right: 2px solid #1a1919;
  border-bottom: 2px solid #1a1919;
  border-left: 2px solid #333333;
  padding: 1em 1em 2em 1em;
}
.single-player .single-player-image-container {
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-player img {
  width: 400px;
  height: calc(100% - 10px);
  -o-object-fit: cover;
     object-fit: cover;
}
.single-player .card-header {
  width: 400px;
  margin: 0 auto;
}
.single-player .card-header h2 {
  text-align: center;
  font-size: 32px;
  overflow-wrap: break-word;
}
.single-player .single-player-details {
  margin-top: 1em;
  width: 400px;
  margin: 0 auto;
  padding: 5px 0;
}
.single-player .single-player-details p {
  padding: 5px 0;
}
.single-player .single-player-details p,
.single-player .single-player-details span {
  font-size: 1.25rem;
}

.form {
  background-color: beige;
  border: 2px solid rgb(45, 44, 44);
  padding: 0 1em 4em;
  width: 45vw;
  margin: 2em auto;
}
.form h2 {
  text-align: center;
}
.form label {
  display: block;
  padding: 1em 0;
}
.form input {
  width: 100%;
  margin-top: 0.25em;
  padding: 5px;
  border-radius: 5px;
}
.form input[type=radio] {
  width: unset;
  margin-right: 4px;
}
.form input[type=submit],
.form button {
  width: 35%;
  padding: 0.5em 0;
  margin-top: 1em;
}
.form fieldset {
  border: none;
  margin-top: 0.5em;
}
.form fieldset label {
  padding: 2px;
}
.form select {
  padding: 5px;
  margin-left: 4px;
  width: 60%;
  border-radius: 5px;
}
.form select:hover {
  cursor: pointer;
}

.search-bar {
  font-size: 1.25rem;
}
.search-bar input {
  margin-left: 0.25em;
  padding: 5px;
  border-radius: 5px;
}/*# sourceMappingURL=App.css.map */